#about {
    padding: 3rem 15rem;
    /* background: red; */
}

/* Buttons */
button {
    width: 150px;
    height: 50px;
    background: #F9822D;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 10;
}

.btn-hide {
    position: relative;
    top: -56% !important;
    transition: all 0.4s ease;
}

.btn-show {
    position: relative;
    top: 0%;
    transition: all 0.4s ease;
}

.hide-section {
    z-index: 1;
    position: relative;
    top: -350px;
    transition: all 0.4s ease;
}

.show-section { 
    z-index: 1;
    position: relative;
    top: 0px;
    transition: all 0.4s ease;
}

.line-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}
.line-break{
    width: 50%;
    height: 1px;
    background: #cfcfcf;
}

/* About Us */
.about-us {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-us .left-container img {
    width: 80%;
    border-radius: 15px;
}

.about-us .right-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-us .right-container h2{
    font-size: 36px;
    margin-bottom: 1.5rem;
}   

.about-us .right-container p{
    margin-bottom: 1.5rem;
}   

/* Hidden Text */
.hidden-text {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
}


.hidden-container {
    position: relative;
    overflow: hidden;
}

.hide {
    position: absolute;
    z-index: 1;
    top: 0%;
    transition: all 0.4s ease;
}

.show {
    position: absolute;
    top: 100%;
    transition: all 0.4s ease;
}

.about-us .right-container {
    font-size: 16px;
    margin-bottom: 1.5rem;
    line-height: 2.2rem;
    width: 80%;
}   

.about-us .right-container span{
    color: #F9822D;
}   

/* Stats */

.stats {
    z-index: 1;
    margin-bottom: 3rem;
}

.stats .users {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.stats .stats-item {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-item h3 {
    margin-bottom: 1.5rem;
    font-size: 36px;
}

.stats-item img {
    width: 70%;
    height: 70%;
    margin-bottom: 1rem;
}

.stats-item span {
    color: #F9822D;
}

.stats-item:nth-child(2) img {
    width: 90%;
    height: 90%;
}

.stats-item:nth-child(2) h3 {
    position: relative;
    top: 20px;
}

.stats .stats-item p {
    text-align:center;
    margin-bottom: 1.5rem;
}


/* Get Started*/

.get-started {
    z-index: 1;
}

.get-started .users {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.users-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.users .user-card {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get-started .title {
    margin-bottom: 3rem;
    font-size: 36px;
}

.get-started .title span {
    color: #F9822D;
}

.user-card h3 {
    margin-bottom: 1.5rem;
}

.user-card img {
    width: 60%;
    height: 60%;
    margin-bottom: 1rem;
}

.users .user-card p {
    text-align:center;
    margin-bottom: 1.5rem;
}